<ion-view title="History">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		
		<ul class="list">
			<li class="item item-icon-right" ng-repeat="expense in expenses">
				<p>{{expense.description}}</p>
				<ul class="value">
					<li>{{expense.bill | currency:""}}</li>
					<li>{{expense.tip | currency:""}}</li>
					<li class="value-total">{{expense.total | currency:""}}</li>
				</ul>
				<i class="icon ion-arrow-right-c"></i>
			</li>
		</ul>

  	</ion-content>
</ion-view>
